.container{
  display:flex;
  flex-direction: column;
}
.header{
    text-align: center;
    justify-content: center;
    padding: 50px 10px;
    margin-left: 25px;
    width: 50%;
}

.export-buttons{
    padding : 10px;
    margin-left: auto;
}
.primary-btn{
    padding: 10px;
    margin :10px;
    border-radius: 2%;
}
.secondary-btn{
    padding: 10px;
    margin :10px;
}
.update-button{
    padding: 10px;
    margin-bottom: 10px5;

}
.delete-button{
    padding: 10px;

}

